extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the MDN.

  h1 Dynamic content

  if error
    p Error getting dynamic content
  else
    p The library has the following record counts:

    ul 
      li #[strong Books:] !{data.book_count}
      li #[strong Books:] !{data.book_instance_count}
      li #[strong Books:] !{data.book_instance_available_count}
      li #[strong Books:] !{data.author_count}
      li #[strong Books:] !{data.genre_count}



//- We override the block element - extending the base template defined in the layout.pug file. 
//- 